

.App {
  text-align: center;
}

.nav--top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-bottom: 4px solid var(--primary-color);
}

.nav-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
}


button {
  min-width: 100px;
  padding: 6px 14px;
  border: none;
  background-color: var(--primary-color);
  margin: 10px;
  border-radius: 5px;
  color: var(--primary-text);
}